<section class="container mt-5 mt-md-0">
    <img src="/assets/images/toppings/logos/@Constants.Site.Brand-combination-mark.svg" alt="@Constants.Site.Title" />
    <h2 class="text-center mt-3 mb-0">Order Up In 2023</h2>
</section>